/**
  * Name: Polio
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import url("./libs/bootstrap.css");
@import url("./libs/fontawesome-free-6.1.2-web/css/all.css");
@import url("./libs/material-design-iconic-font.min.css");
@import url("./libs/material-icons.css");
@import url("./libs/icomoon.css");
@import url("./libs/reset.css");
@import url("./views/responsive.css");
@import url("./views/blog.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;400;500;700;800&display=swap");
@import url("./libs/swiper-bundle.min.css");
/**
  * Reset
  * Repeatable Patterns    
  *	Header 
  *	Page Title
  * Blog
  * Blog v.1
  * Blog Single  
  * Widgets  
  * widget search
  * widget latest posts
  * widget tag
  * flat-socials 
  * Switcher
  * GoTop Button
  * Footer
  * Footer widget  
  * Bottom
  * Parallax
  * Boxed
  * Revolution Slider  
*/
.header-sticky {
  overflow: hidden;
}
.header-sticky .container-fluid {
  height: 342px;
}
.header-sticky .container-fluid .page-title {
  background-image: url(../images/blog/background-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  height: 342px;
  width: 100%;
  max-width: 1920px;
}
.header-sticky .container-fluid .page-title .container .row {
  padding: 178px 0 0 0;
}
.header-sticky .container-fluid .page-title .container .row .page-title-heading .title {
  padding-left: 28px;
  margin-bottom: 3px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.header-sticky .container-fluid .page-title .container .row .page-title-heading .title:hover {
  color: #f19825;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs {
  line-height: 32px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul li {
  padding-right: 4px;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul li a {
  color: #23233f;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul li a:hover {
  color: #f18925;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul li a:hover span {
  color: #23233f;
}
.header-sticky .container-fluid .page-title .container .row .breadcrumbs ul span {
  padding-right: 6px;
}
.header-sticky .main-content {
  max-width: 1920px;
  margin-top: 120px;
  margin-bottom: 2500px;
  padding-bottom: 90px;
  display: flex;
}
.header-sticky .main-content .btn-menu {
  font-size: 32px;
  color: #0e5bad;
  text-align: center;
  width: 45px;
  height: 73px;
  text-align: center;
  line-height: 73px;
  cursor: pointer;
  font-family: "Material Icons";
}
.header-sticky .main-content .btn-menu:before {
  content: "\e5d2";
  transition: all 0.3s ease-out;
}
.header-sticky .main-content .btn-menu.active:before {
  content: "\e5cd";
}
.header-sticky .main-content .mainnav {
  overflow: hidden;
  display: flex;
}
.header-sticky .main-content .mainnav .tf-sidebar {
  display: none;
  background-color: #ffefe3;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar {
  padding: 0 50px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .widget-title {
  border-bottom: 2px solid gray;
  display: inline-block;
  padding-top: 21px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .widget-title h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #23233f;
  margin: 0 0 0;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post {
  padding-top: 40px;
  padding-bottom: 85px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li {
  display: flex;
  padding-bottom: 27px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .info-post {
  padding-left: 0px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .info-post .title-post p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #23233f;
  max-width: 234px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .info-post .title-post p:hover {
  color: #f98125;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .info-post .read-more-post {
  padding-top: 8px;
  cursor: pointer;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .info-post .read-more-post h5 p a {
  display: inline-block;
  border-bottom: 1px solid #698cc1;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0656aa;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .info-post .read-more-post h5 p a:hover {
  color: #f98125;
  border-bottom: 1px solid #f19825;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-post li .thumb {
  padding-left: 35px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-latest-videos {
  display: flex;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-latest-videos h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 15px;
  cursor: pointer;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .bg-videos {
  padding-top: 8px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .bg-videos img {
  cursor: pointer;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .info-videos {
  padding-top: 7px;
  margin-left: -5px;
  padding-bottom: 17px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .info-videos .title-videos {
  padding-bottom: 4px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .info-videos .title-videos p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .info-videos .title-videos p:hover {
  color: #f19825;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .info-videos .date-videos span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #8e8a8a;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-videos .side-post-videos .info-videos .date-videos:hover span {
  color: #f19825;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .side-subscribe {
  display: flex;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .side-subscribe .subscribe {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #23233f;
  padding-top: 125px;
  cursor: pointer;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .side-subscribe .logo-subscribe {
  padding-top: 123px;
  padding-left: 12px;
  cursor: pointer;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .title-subscribe {
  padding-top: 15px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .title-subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0454a8;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 13px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .form-subscribe {
  display: flex;
  padding-top: 35px;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .form-subscribe input {
  width: 200px;
  height: 42px;
  border-radius: 30px 0px 0px 30px;
  border-color: #eaeaea;
}
.header-sticky .main-content .mainnav .tf-sidebar .sidebar .side-subs .form-subscribe button {
  border-radius: 0 20px 20px 0;
  border-color: #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ff2635;
  color: #ffffff;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .instagram {
  display: flex;
  padding-top: 158px;
  margin-left: -4px;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .instagram .title-instagram p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #fb3958;
  padding-left: 15px;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img {
  padding-top: 20px;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img .album-instagram-top {
  display: flex;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img .album-instagram-top .ig1 {
  padding-right: 7px;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img .album-instagram-top div {
  display: grid;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img .album-instagram-top div .ig2 {
  padding-bottom: 10px;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img .album-instagram-bot {
  display: flex;
}
.header-sticky .main-content .mainnav .tf-sidebar .side-ig .side-instagram-img .album-instagram-bot img {
  padding-right: 10px;
  padding-top: 10px;
}
.header-sticky .main-content .mainnav .tf-sidebar:active {
  display: block;
}
.header-sticky .main-content .sidebar_all {
  display: flex;
  transform: translateX(0px);
}

.Portfolio {
  background-image: url(../images/blog/background-tf-portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.Portfolio .home-page {
  margin-left: 10%;
  float: left;
}
.Portfolio .home-page .bg-home {
  background-image: url(../images/blog/background_portfolio1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  height: 900px;
  width: 91%;
}
.Portfolio .home-page .bg-home .tf-home-left {
  display: block;
  padding-left: 10%;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading {
  display: flex;
  margin-top: 44%;
  margin-left: 1%;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading .title {
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #f98125;
  font-weight: 400;
  margin-bottom: 0;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading .tf-social-icons {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-title-heading .tf-social-icons img {
  padding-right: 18px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-intro h1 {
  margin-left: 1%;
  font-size: 90px;
  line-height: 80px;
  font-weight: 700;
  color: #273857;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-intro > h1:hover {
  color: #f18925;
  transition: all 0.3s ease;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-intro span {
  color: #f98125;
  font-family: "DM Sans", sans-serif;
}
.Portfolio .home-page .bg-home .tf-home-left p {
  font-size: 20px;
  line-height: 32px;
  color: #273857;
  font-weight: 400;
  margin-left: 1%;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home {
  margin-top: 85px;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home .btn-effect {
  font-size: 20px;
  background-color: #f98125;
  padding: 20px 36px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home .btn-effect:hover {
  background-color: #273857;
  color: #f98125;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home .tf-no-btn {
  text-decoration: underline;
}
.Portfolio .home-page .bg-home .tf-home-left .tf-button-home .tf-no-btn:hover {
  color: #273857;
}
.Portfolio .home-page .bg-home .tf-home-right {
  position: relative;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .tf-bg-logo {
  padding-top: 40%;
  padding-left: 10%;
  position: absolute;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .tf-bg-avatar {
  position: absolute;
  padding-left: 20%;
  padding-top: 21%;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects {
  position: absolute;
  background-color: #ffffff;
  margin-top: 525px;
  margin-left: 45px;
  padding: 21px 55px 21px 25px;
  border-radius: 10px;
  overflow: hidden;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects div {
  display: flex;
  padding-bottom: 6px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects div img {
  width: 100%;
  height: 100%;
  padding-right: 5px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ff2e59;
  margin: 0;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .projects p {
  font-size: 15px;
  line-height: 22px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience {
  position: absolute;
  background-color: #ffffff;
  margin-top: 388px;
  margin-left: 447px;
  padding: 15px 15px 15px 22px;
  border-radius: 10px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience div {
  display: flex;
  padding-bottom: 6px;
  justify-content: center;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience div img {
  padding-right: 5px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience div h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #5ce1e6;
  margin: 0;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .experience p {
  font-size: 15px;
  line-height: 22px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients {
  position: absolute;
  background-color: #ffffff;
  margin-top: 605px;
  margin-left: 416px;
  padding: 17px 27px 17px 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients img {
  padding-right: 5px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fda53e;
  margin: 0;
  padding-right: 11px;
}
.Portfolio .home-page .bg-home .tf-home-right .tf-home-avatar .clients p {
  font-size: 15px;
  line-height: 22px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .about {
  float: left;
  width: 100%;
}
.Portfolio .about .bg-about {
  background-image: url(../images/blog/background_about.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 795px;
  position: relative;
  float: left;
  width: 91%;
  height: 843px;
}
.Portfolio .about .bg-about .col-md-4 img {
  position: relative;
  margin-top: 283px;
  margin-right: -12px;
  float: right;
  max-width: 375px;
}
.Portfolio .about .bg-about .col-md-8 {
  padding-left: 98px;
}
.Portfolio .about .bg-about .col-md-8 .tf-background-about img {
  padding: 400px 0 0 392px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about {
  position: absolute;
  margin-top: -215px;
  max-width: 1043px;
  cursor: pointer;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-no-btn {
  padding: 31px 0 23px 5px;
  display: inline-block;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-no-btn p {
  font-weight: 500;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-no-btn p:hover {
  text-decoration: underline;
  line-height: 32px;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-text-1 {
  font-size: 50px;
  line-height: 66px;
  font-weight: 400;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  padding-top: 0px;
  margin-left: -4px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-text-2 {
  font-size: 50px;
  line-height: 66px;
  font-weight: 700;
  color: #ffffff;
  margin-left: -4px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-content-text {
  margin-left: -16px;
  width: 100%;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-content-text .tf-text-3 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  padding-top: 33px;
  font-style: italic;
  padding-right: 40px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-content-text .col-md-9 {
  padding-right: 120px;
  padding-left: 57px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-content-text .col-md-9 .tf-text-4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  padding-top: 36px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about .tf-content-text .col-md-9 .tf-text-5 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  padding-top: 32px;
}
.Portfolio .about .bg-about .col-md-8 .tf-content-about img {
  margin-top: -4px;
}
.Portfolio .tf-services {
  padding-top: 390px;
  padding-bottom: 162px;
  margin-top: 1442px;
}
.Portfolio .tf-services .tf-title-services {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 28px;
  cursor: pointer;
}
.Portfolio .tf-services .tf-title-services h1 {
  font-size: 50px;
  line-height: 32px;
  color: #273857;
  font-weight: 400;
}
.Portfolio .tf-services .tf-title-services h1 .tf-title-services1 {
  font-size: 80px;
  color: #f98125;
  line-height: 32px;
  font-weight: 700;
}
.Portfolio .tf-services .tf-title-services h1 .tf-title-services2 {
  font-size: 50px;
  line-height: 32px;
  color: #273857;
  font-weight: 400;
  font-weight: 700;
}
.Portfolio .tf-services .tf-title-services .tf-no-btn {
  padding-top: 10px;
}
.Portfolio .tf-services .tf-title-services .tf-no-btn p {
  font-size: 20px;
  line-height: 32px;
  color: #5ce1e6;
  text-decoration: underline;
  align-items: center;
  display: flex;
  padding-bottom: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-title-services a:hover p {
  color: #f18925;
}
.Portfolio .tf-services .tf-intro-services {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Portfolio .tf-services .tf-intro-services .tf-design-wrap .tf-design-service {
  padding: 59px 0;
  position: relative;
  background-color: #edfeff;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-intro-services .tf-design-wrap .tf-design-service .tf-des-service {
  display: flex;
  justify-content: center;
}
.Portfolio .tf-services .tf-intro-services .tf-design-wrap .tf-design-service p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: #273857;
  font-weight: 700;
  padding-top: 32px;
}
.Portfolio .tf-services .tf-intro-services .tf-design-wrap .tf-design-service:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 8px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -30px;
  background-color: #f58835;
  transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-intro-services .tf-design-wrap:hover .tf-design-service {
  background-color: #fff5ed;
  margin-bottom: 20px;
}
.Portfolio .tf-services .tf-intro-services .tf-design-wrap:hover .tf-design-service:after {
  width: 100%;
}
.Portfolio .tf-services .tf-intro-services .tf-development-wrap .tf-development-service {
  padding: 62px 0;
  position: relative;
  background-color: #edfeff;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-intro-services .tf-development-wrap .tf-development-service .tf-dev-service {
  display: flex;
  justify-content: center;
}
.Portfolio .tf-services .tf-intro-services .tf-development-wrap .tf-development-service p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: #273857;
  font-weight: 700;
  padding-top: 32px;
}
.Portfolio .tf-services .tf-intro-services .tf-development-wrap .tf-development-service:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 8px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -30px;
  background-color: #f58835;
  transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-intro-services .tf-development-wrap:hover .tf-development-service {
  background-color: #fff5ed;
  margin-bottom: 20px;
}
.Portfolio .tf-services .tf-intro-services .tf-development-wrap:hover .tf-development-service:after {
  width: 100%;
}
.Portfolio .tf-services .tf-intro-services .tf-marketing-wrap .tf-marketing-service {
  padding: 58px 0;
  position: relative;
  background-color: #edfeff;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-intro-services .tf-marketing-wrap .tf-marketing-service .tf-markt-service {
  display: flex;
  justify-content: center;
}
.Portfolio .tf-services .tf-intro-services .tf-marketing-wrap .tf-marketing-service p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: #273857;
  font-weight: 700;
  padding-top: 32px;
}
.Portfolio .tf-services .tf-intro-services .tf-marketing-wrap .tf-marketing-service:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 8px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -30px;
  background-color: #f58835;
  transition: all 0.5s ease;
}
.Portfolio .tf-services .tf-intro-services .tf-marketing-wrap:hover .tf-marketing-service {
  background-color: #fff5ed;
  margin-bottom: 20px;
}
.Portfolio .tf-services .tf-intro-services .tf-marketing-wrap:hover .tf-marketing-service:after {
  width: 100%;
}
.Portfolio .tf-services .tf-result-service {
  display: flex;
  align-items: center;
}
.Portfolio .tf-services .tf-result-service .tf-result-left {
  padding: 50px 15px 55px 45px;
  height: 100%;
}
.Portfolio .tf-services .tf-result-service .tf-result-left h1 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 400;
  color: #f47b4c;
  margin-bottom: 15px;
}
.Portfolio .tf-services .tf-result-service .tf-result-left .tf-rate-star img {
  padding-right: 2px;
}
.Portfolio .tf-services .tf-result-service .tf-result-left h4 {
  font-size: 18px;
  line-height: 52px;
  font-weight: 400;
  color: #596375;
  margin: 0 0 0 0;
}
.Portfolio .tf-services .tf-result-service .tf-line-result {
  content: "";
  border: 1px solid #596375;
  height: 120px;
  margin-bottom: 20px;
}
.Portfolio .tf-services .tf-result-service .tf-result-right {
  padding: 55px 0px;
  height: 100%;
}
.Portfolio .tf-services .tf-result-service .tf-result-right h1 {
  font-size: 50px;
  line-height: 52px;
  font-weight: 400;
  color: #f47b4c;
  margin: 0 0 15px 22px;
}
.Portfolio .tf-services .tf-result-service .tf-result-right h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #596375;
  margin: 2px 0 0 18px;
}
.Portfolio .tf-slide-project {
  background-color: #093c75;
}
.Portfolio .tf-slide-project #slider-project {
  padding: 255px 0px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.Portfolio .tf-slide-project #slider-project .swiper {
  width: 80%;
  height: 100%;
}
.Portfolio .tf-slide-project #slider-project .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Portfolio .tf-slide-project #slider-project .swiper .swiper-wrapper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: none;
}
.Portfolio .tf-slide-project #slider-project .swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 32px;
  font-size: 50px;
  color: #1c5ca5;
  opacity: 1;
  background: none;
  margin-right: 65px;
  margin-top: 65px;
}
.Portfolio .tf-slide-project #slider-project .swiper .swiper-pagination-bullet-active {
  color: #5ce1e6;
  text-decoration: underline;
}
.Portfolio .tf-slide-project #slider-project .swiper .tf-no-btn {
  color: #5ce1e6;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  margin-left: 352px;
  margin-top: 42px;
}

.tf-expertise {
  padding-top: 170px;
  height: 780px;
}
.tf-expertise .expertise-left {
  width: 100%;
  float: left;
  margin: -30px 35px;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill {
  margin-bottom: 25px;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill .col-md-10 {
  padding: 0 0;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill .col-md-10 .skill-title {
  margin-bottom: 30px;
  color: #273857;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill .col-md-10 .skill-bar {
  width: 0;
  height: 10px;
  background: #ffe7c3;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill .col-md-10 .skill-bar span {
  float: left;
  width: 0%;
  background: #ff9800;
  height: 10px;
  position: relative;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill .col-md-10 .skill-bar span b {
  float: left;
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 20px;
  line-height: 32px;
  opacity: 0;
  font-size: 14px;
  color: #ff9800;
  font-weight: 400;
  top: -40px;
  width: 100%;
  float: right;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills .skill .col-md-2 .right-skill {
  padding-top: 10px;
}
.tf-expertise .expertise-left .illustrator .tf-skill-bar .skills.active .skill .skill-bar {
  width: 100%;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill {
  margin-bottom: 108px;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill .col-md-10 {
  padding: 0 0;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill .col-md-10 .skill-title {
  margin-bottom: 30px;
  color: #273857;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill .col-md-10 .skill-bar {
  width: 0;
  height: 10px;
  background: #c4ebff;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill .col-md-10 .skill-bar span {
  float: left;
  width: 0%;
  background: #00a9ff;
  height: 10px;
  position: relative;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill .col-md-10 .skill-bar span b {
  float: left;
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 20px;
  line-height: 32px;
  opacity: 0;
  font-size: 14px;
  color: #ff9800;
  font-weight: 400;
  top: -13px;
  margin-top: -25px;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills .skill .col-md-2 .right-skill {
  padding-top: 10px;
}
.tf-expertise .expertise-left .photoshop .tf-skill-bar .skills.active .skill .skill-bar {
  width: 100%;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill {
  margin-bottom: 190px;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill .col-md-10 {
  padding: 0 0;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill .col-md-10 .skill-title {
  margin-bottom: 30px;
  color: #273857;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill .col-md-10 .skill-bar {
  width: 0;
  height: 10px;
  background: #ddedff;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill .col-md-10 .skill-bar span {
  float: left;
  width: 0%;
  background: #ff65fd;
  height: 10px;
  position: relative;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill .col-md-10 .skill-bar span b {
  float: left;
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 20px;
  line-height: 32px;
  opacity: 0;
  font-size: 14px;
  color: #ff9800;
  font-weight: 400;
  top: -13px;
  margin-top: -25px;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills .skill .col-md-2 .right-skill {
  padding-top: 10px;
}
.tf-expertise .expertise-left .adobe-xd .tf-skill-bar .skills.active .skill .skill-bar {
  width: 100%;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill {
  margin-bottom: 273px;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill .col-md-10 {
  padding: 0 0;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill .col-md-10 .skill-title {
  margin-bottom: 30px;
  color: #273857;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill .col-md-10 .skill-bar {
  width: 0;
  height: 10px;
  background: #ddedff;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill .col-md-10 .skill-bar span {
  float: left;
  width: 0%;
  background: #00cf7f;
  height: 10px;
  position: relative;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  border-radius: 5px;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill .col-md-10 .skill-bar span b {
  float: left;
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 20px;
  line-height: 32px;
  opacity: 0;
  font-size: 14px;
  color: #ff9800;
  font-weight: 400;
  top: -13px;
  margin-top: -25px;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills .skill .col-md-2 .right-skill {
  padding-top: 10px;
}
.tf-expertise .expertise-left .figma .tf-skill-bar .skills.active .skill .skill-bar {
  width: 100%;
}
.tf-expertise .expertise-right {
  padding: 3px 83px;
  margin-right: -175px;
}
.tf-expertise .expertise-right .expertise-title {
  font-size: 50px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 54px;
}
.tf-expertise .expertise-right .expertise-text1 {
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 30px;
}
.tf-expertise .expertise-right .expertise-text2 {
  font-size: 20px;
  line-height: 32px;
}

.tf-testimonial {
  background-image: url(../images/blog/background_portfolio_testimonial.png);
  height: 630px;
}
.tf-testimonial #slider-testimonial .owl-carousel {
  padding: 245px 0 0px 0;
}
.tf-testimonial #slider-testimonial .owl-carousel .owl-dots {
  margin-top: -385px;
  margin-bottom: 385px;
}
.tf-testimonial #slider-testimonial .owl-carousel .owl-dots .owl-dot {
  margin-right: 10px;
}
.tf-testimonial #slider-testimonial .owl-carousel .owl-dots .owl-dot button {
  border: none;
  padding: 40px 30px 24px 30px;
  font-size: 50px;
  font-weight: 400;
  line-height: 32px;
  color: #ffdfd0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tf-testimonial #slider-testimonial .owl-carousel .owl-dots .owl-dot.active button {
  color: #5ce1e6;
  border-bottom: 3px solid #5ce1e6;
}
.tf-testimonial #slider-testimonial .owl-carousel .item p {
  font-size: 24px;
  line-height: 36px;
  color: #273857;
  font-style: italic;
  text-align: center;
  padding: 0 540px 35px 540px;
}
.tf-testimonial #slider-testimonial .owl-carousel .item .tf-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}
.tf-testimonial #slider-testimonial .owl-carousel .item .tf-feedback h5 {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 500;
}
.tf-testimonial #slider-testimonial .owl-carousel .item .tf-feedback img {
  width: 99px;
  height: 99px;
}

.tf-blog {
  padding-bottom: 192px;
}
.tf-blog .tf-blog-title {
  padding: 198px 0 76px 0;
}
.tf-blog .tf-blog-title h1 {
  margin: 0;
}
.tf-blog .tf-blog-content {
  display: flex;
}
.tf-blog .tf-blog-content .tf-content {
  margin-right: 50px;
}
.tf-blog .tf-blog-content .tf-content .blog-post h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 30px;
  margin-left: -3px;
  color: #1d1945;
}
.tf-blog .tf-blog-content .tf-content .blog-post h3:hover {
  color: #f58835;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.tf-blog .tf-blog-content .tf-content .blog-post p {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 10px;
}
.tf-blog .tf-blog-content .tf-content .blog-post p:hover {
  color: #f58835;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.tf-blog-posts {
  background-color: #fafafa;
}
.tf-blog-posts .head-post {
  margin-top: 112px;
}
.tf-blog-posts .head-post .col-md-8 {
  padding-left: 27px;
  padding-right: 0px;
}
.tf-blog-posts .head-post .col-md-8 .tf-author-post {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  padding-left: 2px;
}
.tf-blog-posts .head-post .col-md-8 .tf-date-post {
  display: flex;
}
.tf-blog-posts .head-post .col-md-8 .tf-date-post h5 {
  font-weight: 400;
  margin: -5px 2px 23px 3px;
  font-size: 18px;
  line-height: 32px;
}
.tf-blog-posts .head-post .col-md-8 .tf-title-post {
  font-size: 50px;
  line-height: 32px;
}
.tf-blog-posts .head-post .col-md-8 .tf-title-post h1 {
  margin-bottom: 58px;
}
.tf-blog-posts .head-post .col-md-8 .tf-img-post {
  margin-left: -364px;
  margin-bottom: 55px;
}
.tf-blog-posts .head-post .col-md-8 .tf-content-post p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  padding-left: 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-content-post img {
  padding: 54px 0;
}
.tf-blog-posts .head-post .col-md-8 .tf-content-post .tf-quote-post {
  display: block;
  background-color: #ffffff;
  padding: 67px 24px;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  margin: 0px;
  font-weight: 500;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post {
  display: flex;
  margin-top: 46px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post .tf-comment-icon {
  display: flex;
  align-items: center;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post .tf-comment-icon span {
  background-color: #ffffff;
  padding: 10px;
  margin-right: 6px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post .tf-comment-icon h5 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  margin-right: 33px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post .tf-like-icon {
  display: flex;
  align-items: center;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post .tf-like-icon span {
  background-color: #e9feff;
  color: #a2ebf1;
  padding: 10px;
  margin-right: 7px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .respond-post .tf-like-icon h5 {
  color: #a2ebf1;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-title-comment {
  margin-top: 35px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-title-comment h1 {
  font-size: 30px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-info-comment {
  display: flex;
  justify-content: space-between;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-info-comment .tf-input-name {
  border-radius: 5px;
  width: 48%;
  height: 60px;
  padding: 0px 0 0 22px;
  margin-top: -5px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-info-comment .tf-input-mail {
  border-radius: 5px;
  width: 48%;
  height: 60px;
  padding: 0px 0 0 19px;
  margin-top: -5px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-input-comment {
  height: 120px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 15px 0 0 22px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-button {
  margin-top: 33px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-button .btn-effect {
  font-size: 15px;
  background-color: #f98125;
  padding: 15px 25px;
  border-radius: 5px;
  color: #21203f;
  text-decoration: none;
  font-weight: 400;
  line-height: 32px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-form-comment .tf-button .btn-effect:hover {
  background-color: #273857;
  color: #f98125;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top {
  border: #e8e8e8 1px solid;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 57px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-author-comment {
  display: flex;
  padding: 23px 30px 15px 30px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-author-comment a {
  padding-top: 2px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-author-comment a img {
  border-radius: 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-author-comment .tf-author {
  padding: 0 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-author-comment .tf-author h5 {
  color: #f58835;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-author-comment .tf-author p {
  color: #a0a8c0;
  padding: 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-content-comment p {
  color: #a0a8c0;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 27px;
  line-height: 27px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-info-date-comment {
  padding: 27px 25px 32px 25px;
  font-size: 16px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-top .tf-info-date-comment .icon-share-solid {
  color: #f98023;
  background-color: #fef0e5;
  padding: 8px 10px 8px 10px;
  margin-left: 2px;
  border-radius: 5px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot {
  border: #e8e8e8 1px solid;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 48px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-line-comment {
  content: "";
  border: #e8e8e8 1px solid;
  width: 730px;
  margin: auto;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-author-comment {
  display: flex;
  padding: 21px 30px 15px 30px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-author-comment a {
  padding-top: 2px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-author-comment a img {
  border-radius: 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-author-comment .tf-author {
  padding: 0 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-author-comment .tf-author h5 {
  color: #f58835;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-author-comment .tf-author p {
  color: #a0a8c0;
  padding: 4px 3px 3px 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-content-comment p {
  color: #a0a8c0;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 26px;
  line-height: 27px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-info-date-comment {
  padding: 22px 25px 24px 25px;
  font-size: 16px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-info-date-comment .icon-share-solid {
  color: #f98023;
  background-color: #fef0e5;
  padding: 8px 10px 8px 10px;
  margin-left: 2px;
  border-radius: 5px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-author-comment {
  display: flex;
  padding: 17px 30px 15px 30px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-author-comment a {
  padding-top: 2px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-author-comment a img {
  border-radius: 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-author-comment .tf-author {
  padding: 0 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-author-comment .tf-author h5 {
  color: #f58835;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-author-comment .tf-author p {
  color: #a0a8c0;
  padding: 4px 3px 3px 3px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-content-comment p {
  color: #a0a8c0;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 28px;
  line-height: 27px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-info-date-comment {
  padding: 24px 25px 32px 28px;
  font-size: 16px;
}
.tf-blog-posts .head-post .col-md-8 .tf-comment-post .tf-view-comment .tf-view-comment-bot .tf-view-comment-bottom .tf-info-date-comment .icon-share-solid {
  color: #f98023;
  background-color: #fef0e5;
  padding: 8px 10px 8px 10px;
  margin-left: 2px;
  border-radius: 5px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post h1 {
  margin-top: 95px;
  margin-bottom: 52px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 {
  margin-bottom: 115px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .tf-category {
  margin: 25px 0px 13px 32px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .tf-category a {
  font-size: 18px;
  color: #0e5bad;
  line-height: 25px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-title {
  margin: 7px 33px 7px 33px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-title a {
  font-size: 36px;
  color: #252525;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-content {
  padding: 0 33px;
  font-size: 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-content p {
  padding: 4px 0;
  line-height: 31px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-content .tf-archive {
  display: flex;
  margin: 28px 0;
  justify-content: space-between;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-content .tf-archive .more-link a {
  text-decoration: underline;
  font-size: 18px;
  color: #252525;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-content .tf-archive .more-link a span img {
  padding-left: 10px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-1 .entry .main-post .entry-content .tf-archive .post-date a {
  font-size: 18px;
  color: #252525;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 {
  margin-bottom: 390px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .tf-category {
  margin: 25px 0px 13px 32px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .tf-category a {
  font-size: 18px;
  color: #0e5bad;
  line-height: 25px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-title {
  margin: 7px 33px 7px 33px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-title a {
  font-size: 36px;
  color: #252525;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-content {
  padding: 0 33px;
  font-size: 20px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-content p {
  padding: 4px 0;
  line-height: 31px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-content .tf-archive {
  display: flex;
  margin: 28px 0;
  justify-content: space-between;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-content .tf-archive .more-link a {
  text-decoration: underline;
  font-size: 18px;
  color: #252525;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-content .tf-archive .more-link a span img {
  padding-left: 10px;
}
.tf-blog-posts .head-post .col-md-8 .tf-related-post .related-post-2 .entry .main-post .entry-content .tf-archive .post-date a {
  font-size: 18px;
  color: #252525;
}
.tf-blog-posts .head-post .col-md-4 {
  padding-left: 60px;
  padding-top: 7px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .widget-title {
  display: block;
  padding-top: 21px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .widget-title h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #23233f;
  margin: 0 0 0;
  text-decoration: underline;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post {
  padding-top: 40px;
  margin-bottom: 65px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li {
  display: flex;
  padding-bottom: 27px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .info-post {
  padding-left: 0px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .info-post .title-post p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #23233f;
  max-width: 234px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .info-post .title-post p:hover {
  color: #f98125;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .info-post .read-more-post {
  padding-top: 8px;
  cursor: pointer;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .info-post .read-more-post h5 p a {
  display: inline-block;
  border-bottom: 1px solid #698cc1;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0656aa;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .info-post .read-more-post h5 p a:hover {
  color: #f98125;
  border-bottom: 1px solid #f19825;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-post li .thumb {
  margin-right: -10px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-latest-videos {
  display: flex;
  padding-top: 20px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-latest-videos h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 15px;
  cursor: pointer;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .bg-videos {
  padding-top: 8px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .bg-videos img {
  cursor: pointer;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .info-videos {
  padding-top: 7px;
  margin-left: -5px;
  padding-bottom: 17px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos {
  padding-bottom: 4px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .title-videos p:hover {
  color: #f19825;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .date-videos span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #8e8a8a;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-videos .side-post-videos .info-videos .date-videos:hover span {
  color: #f19825;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .side-subscribe {
  display: flex;
  margin-top: 100px;
  padding-top: 20px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .side-subscribe .subscribe {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #23233f;
  cursor: pointer;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .side-subscribe .logo-subscribe {
  padding-left: 12px;
  cursor: pointer;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .title-subscribe {
  padding-top: 15px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .title-subscribe p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0454a8;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 13px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .form-subscribe {
  display: flex;
  padding-top: 35px;
  padding-bottom: 85px;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .form-subscribe input {
  width: 200px;
  height: 42px;
  border-radius: 30px 0px 0px 30px;
  border-color: #eaeaea;
}
.tf-blog-posts .head-post .col-md-4 .sidebar .side-subs .form-subscribe button {
  border-radius: 0 20px 20px 0;
  border-color: #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ff2635;
  color: #ffffff;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .instagram {
  display: flex;
  margin-top: 53px;
  margin-left: -4px;
  padding: 20px 0 0 10px;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .instagram .title-instagram p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #fb3958;
  padding-left: 15px;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img {
  padding: 20px 0 0 10px;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img .album-instagram-top {
  display: flex;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img .album-instagram-top .ig1 {
  padding-right: 7px;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img .album-instagram-top div {
  display: grid;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img .album-instagram-top div .ig2 {
  padding-bottom: 10px;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img .album-instagram-bot {
  display: flex;
}
.tf-blog-posts .head-post .col-md-4 .side-ig .side-instagram-img .album-instagram-bot img {
  padding-right: 10px;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */